* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Login {
  position: fixed; /* 화면에 고정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* 화면 전체 크기 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; /* 배경 반투명 검정색 */

}

#Login .login {
  
  max-width: 400px; /* 로그인 폼 최대 너비 */
  width: 100%; /* 화면 크기에 맞게 너비 100% */
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px; /* 모서리 둥글게 처리 */
  color: white;
}

.signin {
  display: flex;
  justify-content: flex-start;
}

.login-info input {
  border: 1px solid rgb(211, 211, 211);
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  background-color: rgb(250, 250, 250);
}

.login-info input:first-child {
  margin: 20px 0 10px;
}

.login-button {
  margin-top: 30px;
  height: 50px;
  width: 100%; /* 버튼을 화면 크기에 맞게 */
  border: none;
  background-color: #A7A7A7;
  border-radius: 5px;
  font-weight: 700;
  color: #ffffff;
  padding: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.login-button:hover {
  background-color: rgb(211, 47, 39);  /* 호버 시 배경색 변경 */
  color: black;  /* 호버 시 글자색을 검정색으로 변경 */
}



.social {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.social hr {
  flex: 1;
  height: 1px;
  background-color: white;  /* 흰색 실선으로 변경 */
  border: none;
}

.social p {
  margin: 0 10px;
  color: white;  /* 텍스트 색상도 흰색으로 */
}

.signup {
  margin-top: 20px;
  width: 100%;
  text-align: center;
 
}

.signup span {
  font-size: 14px;
  color: white;
}

.nav-item {
  text-decoration: none;
  font-weight: 500;
  color: white;
}


.social_login {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.google button,
.naver button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.google img,
.naver img {
  width: 40px;
  height: 40px;
  transition: transform 0.2s;
  cursor: pointer;
}

.google img:hover,
.naver img:hover {
  transform: scale(1.1);
}

#my-signin2,
#naverIdLogin {
  display: none;
}

@media screen and (max-width: 375px) {
  .login {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }

  .login-info input {
    width: 100%;
  }

  .login button {
    width: 100%;
  }

  .signup {
    width: 100%;
  }
}
