* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Login {
  position: fixed; /* 화면에 고정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* 화면 전체 크기 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black; /* 배경 반투명 검정색 */

}

#Login .login {
  
  max-width: 400px; /* 로그인 폼 최대 너비 */
  width: 100%; /* 화면 크기에 맞게 너비 100% */
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px; /* 모서리 둥글게 처리 */
  color: white;
}

.signin {
  display: flex;
  justify-content: flex-start;
}

.login-info input {
  border: 1px solid rgb(211, 211, 211);
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  background-color: rgb(250, 250, 250);
}

.login-info input:first-child {
  margin: 20px 0 10px;
}

.login-button {
  margin-top: 30px;
  height: 50px;
  width: 100%; /* 버튼을 화면 크기에 맞게 */
  border: none;
  background-color: #A7A7A7;
  border-radius: 5px;
  font-weight: 700;
  color: #ffffff;
  padding: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.login-button:hover {
  background-color: rgb(211, 47, 39);  /* 호버 시 배경색 변경 */
  color: black;  /* 호버 시 글자색을 검정색으로 변경 */
}



.social {
  display: flex;
  align-items: center; 
  width: 100%;
  justify-content: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social hr{
  flex-grow: 1;
  border: none;
  border-top: 1px solid #ccc;
}

.social p {
  margin: 0 10px;
  color: white;
  font-size: 14px;

}

.signup {
  margin-top: 20px;
  width: 100%;
  text-align: center;
 
}

.signup span {
  font-size: 14px;
  color: white;
}

.nav-item {
  text-decoration: none;
  font-weight: 500;
  color: white;
}


.social_login {
  display: flex; /* 자식 요소들을 가로로 배치 */
  align-items: center; /* 세로 중앙 정렬 */
  gap: 30px; /* 이미지 간의 간격 */
}

.google, .naver {
  margin-right: 10px; /* 이미지들 간의 간격 조정 */
}

.google img, .naver img {
  width: 35px; /* 이미지 크기 */
  height: 35px;
  border-radius: 10px;
}
.google button {
  background-color: black;
  border: none;
  color: white;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

/* #naver_id_login {
  display: none;
}

#naver_login {
  margin-top: 10px;
}

#naver-id-login-anchor {
  text-decoration: none;
  color: white;
  background-color: transparent;
}

#naver-id-login-anchor img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
} */

#my-signin2 {
  display: none;
}

@media screen and (max-width: 375px) {
  .login {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }

  .login-info input {
    width: 100%;
  }

  .login button {
    width: 100%;
  }

  .signup {
    width: 100%;
  }
}
